ion-menu-button {
  color: var(--ion-color-primary);
  
}

.ion-buttonX{
  --background: transparent;
  --color: #ffffff;
  z-index: 1;
  font-size: 40px;
  border: none;
  color: #fff; /* Este color es solo un ejemplo, puedes cambiarlo a tu gusto */
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  
}

.circle:hover {
  background-color: rgb(110, 110, 110);
  color: rgb(255, 255, 255);
  border: 15px solid #dbdbdb;
}

.circle{
  position: relative;
  top: 120px;
  left: 890px;
  color: #fff;
  font-size: 50px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgb(110, 110, 110);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.swiper-container {
  width: 100%;
  height: 400px;
}