<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >  
  <ion-button [routerLink]="['./addCharacter']">Añadir personaje</ion-button>



  <swiper-container pagination="true" >

    <swiper-slide *ngFor="let character of characters">
      <ion-button class="ion-buttonX"(click)="dropElement(character)">X</ion-button>
      <app-ricmor-card [character]="character"></app-ricmor-card>
    </swiper-slide>

  </swiper-container>


</ion-content>
