<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pasarela</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>

  <ion-card>
  <swiper-container pagination="true" [slidesPerView]="views" class="swiper-container" #mySwiper>
    
    <swiper-slide *ngFor="let image of imageArray; let i = index" class="swiper-slide"> 
      <div class="image-container" draggable="true">
        <img [src]="image.original" width="400" height="400">
        <button (click)="removeImage(i)" class="delete-button" (click)="updateConsole()">
          <ion-icon name="close"></ion-icon>
        </button>
      </div>
  </swiper-slide>

  <swiper-slide>
    <button (click)="fileInput.click()" class="circular-button" (click)="updateConsole()">
      <ion-icon name="add"></ion-icon>
    </button>
    <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" multiple style="display:none;">
  </swiper-slide>
  </swiper-container>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pasarela</ion-title>
    </ion-toolbar>
    
  </ion-header>
</ion-content>
