.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Altura de la sección del Swiper */
  padding-right: 100px;
  overflow: hidden; 
}

.swiper-slide {
  text-align: center;
  margin-right: 20px;
}

ion-card {
  width: 500px; /* ancho personalizado */
  margin: 0 auto; /* establecer margen izquierdo y derecho automáticos */
  display: block; /* establecer display a bloque para ocupar todo el ancho disponible */
}

.circular-button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 150px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  
}

.circular-button input[type="file"] {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}