<div align='center'>
<ion-card>

  <ion-card-header>
      <ion-card-title>{{ character.name }}</ion-card-title>
      <ion-card-subtitle>{{ character.id }}</ion-card-subtitle>
      

  </ion-card-header>


  <ion-card-content>
   
      <ion-img [src]="character.image"></ion-img>
      
      <p>Genero: {{ character.gender | titlecase }}</p>
      <ion-card-subtitle>Estado: {{ character.status }}</ion-card-subtitle>
      <ion-card-subtitle>Especie: {{ character.species }}</ion-card-subtitle>
      <ion-card-subtitle>Tipo: {{ character.type }}</ion-card-subtitle>
      <ion-card-subtitle>Origen: {{ character.origin.name }}</ion-card-subtitle>
      <ion-button (click)="goToPage()">
      Mostrar mas detalles
    </ion-button>
  </ion-card-content>
</ion-card>
</div>
