.center{
    display: flex;
    justify-content: center;
    text-align: center;
}

ion-card {
    --background: #000;
    --color: #9efff0;
    width: 45%;
}

ion-card-title {
    --color: #52ffe4;
}

ion-card-subtitle {
    --color: #d1fff8;
}

ion-img {
    width: 50%;
    margin: 0 auto;
}

ion-button {
    --background: red;
    --color: white;
    width:90%
  }