<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar un nuevo personaje</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <ion-input label="Nombre del personaje" label-placement="floating" fill="outline" [(ngModel)]="character.name"></ion-input>
  <br><br>
  <ion-input label="Estado" label-placement="floating" fill="outline" [(ngModel)]="character.status"></ion-input>
  <br><br>
  <ion-input label="Especie" label-placement="floating" fill="outline" [(ngModel)]="character.species"></ion-input>
  <br><br>
  <ion-input label="Tipo" label-placement="floating" fill="outline" [(ngModel)]="character.type"></ion-input>
  <br><br>
  <ion-input label="Genero" label-placement="floating" fill="outline" [(ngModel)]="character.gender"></ion-input>
  <br><br>
  <ion-input  label="Planeta" label-placement="floating" fill="outline" [(ngModel)]="character.origin"></ion-input>
  <br><br>
  <ion-button (click)="MostrarImpreso()">Guardar</ion-button>

  <app-ricmor-card *ngIf="character.name" [character]="character"></app-ricmor-card>
</ion-content>
