<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar un nuevo personaje</ion-title>
  </ion-toolbar>
  <br><br>
  <ion-input label="Nombre del personaje" label-placement="floating" fill="outline" placeholder="Enter text"  [(ngModel)]="inputValue1"></ion-input>
  <br><br>
  <ion-input label="Estado" label-placement="floating" fill="outline" placeholder="Enter text"  [(ngModel)]="inputValue2"></ion-input>
  <br><br>
  <ion-input label="Especie" label-placement="floating" fill="outline" placeholder="Enter text"  [(ngModel)]="inputValue3"></ion-input>
  <br><br>
  <ion-input label="Tipo" label-placement="floating" fill="outline" placeholder="Enter text"  [(ngModel)]="inputValue4"></ion-input>
  <br><br>
  <ion-input label="Genero" label-placement="floating" fill="outline" placeholder="Enter text"  [(ngModel)]="inputValue5"></ion-input>
  <br><br>
  <ion-input  label="Planeta" label-placement="floating" fill="outline" placeholder="Enter text" [(ngModel)]="inputValue6"></ion-input>
  <br><br>
  <ion-button (click)="MostrarImpreso()" id="present-alert">Guardar</ion-button>
  <ion-alert
    trigger="present-alert"
    header="Estos fueron tus registros"
    header="Estos fueron tus registros"
    subHeader={{inputValue1}}
    subHeader={{inputValue2}}
    subHeader={{inputValue3}}
    subHeader={{inputValue4}}
    subHeader={{inputValue5}}
    subHeader={{inputValue6}}
    [buttons]="alertButtons"
  ></ion-alert>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AAAAAAAAAAAAAAAAAAA</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
